body {
	background-color: rgb(29, 41, 43);
	font-family: 'Raleway';
	background-size: cover;
}

h1 {
	color: #928F8C;
	font-size: 5em;
}
h2 {
	margin: 0;
	color:#928F8C;
}

h3 {
	margin:auto;
}

a {
	text-decoration: none;
	text-decoration-color: red; 
}

nav {
	margin: 0;
	text-decoration: none;
	color:#928F8C;
}
.landingPage {
	background-color: white;
	text-align:center;
}

.landingPage > h1 {
	/*width:500px;*/
	background-color: white;
	/*margin: 50px 300px;*/
/*	height:200px;*/
	padding:200px;

}

.banner {
	border-style: inset;
	background-color: rgb(29, 41, 43);

}

.bodyText {
	color: #3F309D;
}


.parallax-window{
	width: 100%;
	height: 500px;
}

.placeholder{
	width: 100%;
	height: 500px;
	background-color: rgb(29, 41, 43);
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-style: dotted 1px;

}

.front-text {
	width: 50%;
	text-align: center;
	margin: auto;
	padding: 50px;
	color: rgb(140, 153, 127);
}

.projects {
  /*border: 1px solid gray;*/
  border-radius: 10px;
  padding: 20px;
  /*background: rgba(0, 0, 0, 0.1);*/
  margin: 10px 0 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding:80px;
}

.space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.test-box {
  width: 200px;
  height: 200px;
  background: #000000;
  border-radius: 10px;
  border: 2px solid #999900;
}

.skills {
	display: flex;
	text-align: center;

}

.test-box2 h2 {
	opacity: 0;
}
.test-box2 p {
	opacity: 0;
}

.test-box2.show h2 {
	opacity: 1;
}

.test-box2.show p {
	opacity: 1;
}


.box   {  width:150px;
           height:70px;
           box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:5% auto 0 auto; 
          background:#E2DADA;
  background-size:cover;
border-radius:5px;
overflow:hidden;
margin: 20px auto;
}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
                background:red;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

.box:hover #overlay {
               opacity:1;}

#plus1       {  font-family:Helvetica;
               font-weight:900;
               color:white;
               font-size:25px;
           }
#plus2       {  font-family:Helvetica;
			   font-weight:900;
               color:blue;
               font-size:25px;
           }
#plus3       {  font-family:Helvetica;
			   font-weight:900;
               color:green;
               font-size:25px;
           }
#plus4       {  font-family:Helvetica;
			   font-weight:900;
               color:yellow;
               font-size:25px;
           }
#plus5       {  font-family:Helvetica;
			   font-weight:900;
               color:black;
               font-size:25px;
           }


.center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.horizontal-center {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.box .test-box2 h2{
	opacity: 0;

}

.box .test-box2.change h2{
	opacity: 1;
	}
.box .test-box2 h2{
	opacity: 0;

}

.box .test-box2.change h2{
	opacity: 1;
	}
.box .test-box2 h2{
	opacity: 0;

}

.box .test-box2.change h2{
	opacity: 1;
	}
.box .test-box2 h2{
	opacity: 0;

}

.box .test-box2.change h2{
	opacity: 1;
	}

.buffer {
	padding-top:30px;
}

.stickyFooter {
     position: fixed;
     bottom: 0px;
     width: 100%;
     overflow: visible;
     z-index: 99;
     padding-top: 5px;
     padding-bottom: 3px;
     background: white;
     border-top: solid white 2px;
     background-color: #125F32;
     -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
     box-shadow: 0px -5px 15px 0px #bfbfbf;
     height: 34px;
     padding-bottom: 30px;
}